version: "2.4"
services:
  smtp:
    image: mailhog/mailhog
    user: root
    ports:
      - "8025:8025"
    environment:
      MH_SMTP_BIND_ADDR: 0.0.0.0:25
    healthcheck:
      test: echo | telnet 127.0.0.1 25
  saltstack-py3:
    build:
      context: .
      args:
        salt_version: 3001
    depends_on:
      - smtp
